.lbl-dash{
	font-size: 1.5em;
}

.box .chart{
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	text-alighn: center;
	font-size: 30px;
	line-height: 180px;
}

.box canvas{
	position: absolute;
	top: 0;
	left: 0;
}

.dash-row{
	margin: 100px 0;
}

.dash-icon:hover{
	color:  #1daded;	
}

.dash-icon:active{
	color:  #ADDFFF;	
}

.btn-icon{
    background-color: transparent !important;
    border: none !important;
	color: #343a40!important;
}

.btn-icon:focus{
	outline: none !imoportant;
}